@import './base.css';

/* Cores principais */
:root {
  --cor-branco: #ffffff;
  --cor-verde-claro: #d4edda;
  --cor-verde-medio: #c3e6cb;
  --cor-verde-escuro: #155724;
  --cor-verde-primario: #28a745;
  --cor-verde-secundario: #218838;
  --cor-cinza: #f8f9fa;
}

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-cinza);
  color: var(--cor-verde-escuro);
  margin: 0;
  padding: 0;
}

/* Estilos para o container principal */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-color: var(--cor-branco);
}

/* Links e classes com a cor verde */
a,
.green {
  text-decoration: none;
  color: var(--cor-verde-primario);
  transition: background-color 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Layout para telas maiores */
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    background-color: var(--cor-cinza);
  }

  #app {
    display: block;
   
    padding: 2rem;
  }
}

/* Estilos específicos para o header */
header {
  background-color: var(--cor-verde-primario);
  color: var(--cor-branco);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

button {
  background-color: var(--cor-verde-secundario);
  color: var(--cor-branco);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--cor-verde-primario);
}

/* Estilos para o formulário de transações */
.transacao-form {
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-verde-medio);
  border-radius: 10px;
  padding: 20px;
}

.input-group {
  margin-bottom: 15px;
}

input,
select {
  padding: 10px;
  border: 1px solid var(--cor-verde-medio);
  border-radius: 5px;
  width: 100%;
}

.btn-submit {
  background-color: var(--cor-verde-primario);
  color: var(--cor-branco);
}

.btn-submit:hover {
  background-color: var(--cor-verde-secundario);
}

/* Estilos para relatórios e metas */
.relatorios,
.metas {
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-verde-medio);
}

.relatorios-metas {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
